/* Reset some default browser styles */
body, h1, h2, h3, p, ul, li, a {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    min-width: 320px;
}

nav {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 20px;
}

.nav-header, .nav-links {
    display: flex;
    align-items: center;
}

nav a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
    padding: 5px 10px;
}

nav a:hover {
    background-color: #555;
}

.profile-pic {
    width: 190px;
    height: 190px;
    border-radius: 50%;
    display: block;
    margin: auto;
    background-size: cover;
    background-position: center;
    border: 3px solid #ffffff;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.profile, .description {
    text-align: center;
    padding: 20px;
}

#about, #cv, #research {
    margin: 2rem;
    padding: 1rem;
    background-color: #fff;
    border-radius: 5px;
}

section {
    padding: 50px 0; /* Adjust padding as needed */
}

.section-title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px; /* Spacing between title and profile */
}


.section-content {
    width: 80%; /* Adjust the width as needed */
}


.wrapper {
    min-width: 320px;
}

@media screen and (max-width: 320px) {
    .container, .nav-links, .profile, .description {
        flex-direction: column;
        align-items: center;
    }

    .wrapper, section, nav, .profile-pic, .container {
        padding: 10px;
        margin: 10px;
    }

    h1, h2, h3, p, a {
        font-size: smaller;
    }

    nav {
        flex-direction: column;
    }

    img {
        max-width: 100%;
        height: auto;
    }
}


/* Responsive adjustments */
@media screen and (max-width: 768px) {
    .section-title, .section-content {
        width: 100%;
        text-align: left;
        margin: 0;
    }

    .section-title {
        margin-bottom: 20px; /* Spacing between title and content on small screens */
    }
}
