/* Reset some default browser styles */
body, h1, h2, h3, p, ul, li, a {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif; /* Updated font family */
}

body {
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    min-width: 320px;
     margin: 0;
}

/* Navigation styles */
nav {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 20px;
}

.nav-header, .nav-links {
    display: flex;
    align-items: center;
}

nav a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
    padding: 5px 10px;
}

nav a:hover {
    background-color: #555;
}

/* Profile picture styles */
.profile-pic {
    width: 190px;
    height: 190px;
    border-radius: 50%;
    display: block;
    margin: auto;
    background-size: cover;
    background-position: center;
    border: 3px solid #ffffff;
}

/* Section styles */
.section {
    display: flex;
    margin: 2rem;
    padding: 1rem;
    background-color: #fff;
    border-radius: 5px;
}

.profile {
    width: 100%; /* Adjusted width */
    text-align: center; /* Align text to the right */
    padding-right: 20px; /* Adjust padding as needed */
}

.right-side {
    width: 100%; /* Adjusted width to fill remaining space */
}

.section-title {
    font-size: 2rem;
    font-weight: bold;
    width: 30%; /* Adjust as needed */
    padding-right: 20px; /* Spacing between title and content */
    text-align: right; /* Aligns the text to the right of the title area */
}

.section-content {
    width: 80%; /* Adjust as needed */
}

/* Responsive adjustments */
@media screen and (max-width: 768px) {
    .section {
        flex-direction: column;
    }

    .profile, .right-side {
        width: 100%;
    }

    .profile {
        padding-right: 0; /* Reset padding for mobile view */
    }
}
/* Add other styles as previously defined */
